@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';
@import '/src/ui/components/button/button.css';
@import '/src/common/animation.css';

:root {
  color-scheme: light dark;
}

body {
  margin: 20px;
  background-color: light-dark(#fff, #000);
  color: light-dark(#000, #fff);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  grid-auto-rows: 18.75rem;
  gap: 1.25rem;
}

.case {
  border: 1px solid light-dark(#000, #fff);
  padding: 2.5rem;

  button {
    border-radius: 8px;
  }
  .toggle-animation {
    background-color: #4263eb;
    color: white;
  }

  .toggle-animation.paused {
    background-color: #e03131;
  }

  .reset-animation {
    background-color: #15aabf;
    color: white;
  }
  .target-animation {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    align-content: center;
    background: linear-gradient(135deg, #76da88, #0f461a);
    border-radius: 8px;
    padding: 10px;
    margin-top: 2.5rem;
  }
}

/* 페이드 에니메이션 */

.case-01 .target-animation {
  /* animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-play-state: paused; */

  animation: fade 3s infinite 1s linear both;
  animation-play-state: paused;
}

.case-02 .target-animation {
  animation: shrink 2s infinite ease-in-out both;
  animation-play-state: paused;
}

.case-03 .target-animation {
  animation: bounce 2s infinite ease-in-out;
  animation-play-state: paused;
}

.case-04 .target-animation {
  animation: shake 2s infinite ease-in-out;
  animation-play-state: paused;
}

.case-05 .target-animation {
  background: conic-gradient(#ffc0d8, #5190e4, #ffc0d8);

  animation: spin 1.5s infinite ease-in-out;
  animation-play-state: paused;
  inline-size: 9.375rem;
  block-size: 9.375rem;
  border-radius: 50%;
}

.case-06 .target-animation {
  animation: pulse 1.5s infinite ease-in-out;
  animation-play-state: paused;
}

.case-07 .target-animation {
  animation: flip 1.5s infinite ease-in-out;
  animation-play-state: paused;
}

.case-08 .target-animation {
  animation: wobble 2s infinite ease-in-out;
  animation-play-state: paused;
}

.case-09 .target-animation {
  animation: glow 2s infinite ease-in-out;
  animation-play-state: paused;
}

.case-10 .target-animation {
  width: 150px;
  aspect-ratio: 1/1;
  position: relative;

  &::before,
  &::after {
    --rotation: 0deg;
    box-sizing: content-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 50%;
    translate: -50% -50%;
    background: conic-gradient(from var(--rotation), red, rgb(0, 0, 192), rgb(197, 0, 0));
    padding: 10px;
    z-index: -1;
    border-radius: 8px;
    animation: rotate 1s infinite linear;
    animation-play-state: paused;
  }

  &::before {
    filter: blur(15px);
  }
}
