@import url(/src/common/mini-reset.css);

body {
  background-color: wheat;
  margin: 50px;
}

h1 {
  margin-bottom: 50px;
}

/* 알림 */
.notification {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;

  span {
    display: block;
    padding: 20px;
    background: url(/src/assets/svg/pot.svg) center center no-repeat;
  }
  div {
    .notification-subject {
      font-size: 1.5rem;
      font-weight: 500;
      color: #22be61;
    }
    .notification-time {
      position: absolute;
      right: 20px;
      top: 20px;
      color: #22be61;
    }
    .notification-content {
      font-size: 0.9rem;
      color: #929b90;
    }
  }
}

:root {
  --main-color: #040404;
  --sub-color: #6d7478;
  --point-color: #01a9ff;
}

.warther-box {
  border: 1px solid #ebebea;
  background-color: #fff;
  padding: 16px 8px;
  border-radius: 8px;
  position: relative;
  .text-box {
    .title {
      font-size: 20px;
      font-weight: 900;
      color: var(--main-color);
    }
    .subtitle {
      font-size: 12px;
      font-weight: 500;
      color: var(--sub-color);
    }
  }
  .img-box{
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}
