@import '/src/common/best-reset.css';
@import '/src/common/theme.css';

:root {
  --width-50: 50%;
}
/* 반응형 레이아웃 */
/* header */
.header {
  background: var(--pastel-pink);
  height: 15vh;
}
/* 내비, 메인, 사이드바 컨테이너 */
.nav-main-aside-wraper {
  @media (min-width: 64rem) {
    display: flow-root;
  }
}
/* <nav> */
.navigation {
  background: var(--pastel-green);
  height: 20vh;
  @media (min-width: 64rem) {
    width: 30%;
    height: 70vh;
    float: left;
  }
}

/* 메인 콘텐츠 및 사이드바 컨테이너 */
.conatent-wraper {
  @media (min-width: 48rem) {
    display: flow-root;
  }
}
/* <main> */
.content {
  background: var(--pastel-coral);
  height: 30vh;
  @media (min-width: 48rem) {
    /* 768px */
    width: var(--width-50);
    height: 50vh;
    float: left;
  }
  @media (min-width: 64rem) {
    height: 70vh;
  }
}
/* <aside> */
.sidebar {
  background: var(--pastel-yellow);
  height: 20vh;
  @media (min-width: 48rem) {
    /* 768px */
    width: var(--width-50);
    height: 50vh;
    float: left;
  }
  @media (min-width: 64rem) {
    height: 70vh;
  }
}

/* <footer> */
.footer {
  background: var(--pastel-gray);
  height: 15vh;
}

/* 768 */
/* 1024 */
