@import '/src/common/modern-reset.css';

.naver-main-contents {
  background-color: pink;
  display: flow-root;
  padding: 10px;
  li {
    float: left;
    position: relative;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
    }
    &:nth-child(n + 2)::before {
      content: '|';
      margin: 0 0.5em;
    }
  }
}
