span {
  background-color: pink;
}

.inline-flex{
  display: inline-flex;
  /* display: inline-block; */
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100px;
}


.inline-block{
  display: inline;
}

/* 
.inline-flex {
  display: inline-flex;
  flex-flow: row nowrap;
  > spna {
    padding: 10px;
    height: 100px;
  }
}
.inline-block {
  display: inline-block;
}

.inline,
.block {
  display: inline-flex;
} */
