* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  > div {
    max-width: 800px;
    min-width: 300px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
  }
}

.list {
  display: none;
}
.open{
  display: block;
}
h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}
h2 {
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
li {
  width: 40%;
  list-style: none;
  padding-left: 20px;
  position: relative;
  border-bottom: 1px solid black;
}

li::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 20px;
}

a {
  display: inline-block;
  line-height: 2;
  text-decoration: none;
  transition: 0.3s;
  color: #000;
}

a:hover {
  background-color: pink;
}
