body {
  background: yellow;
  font-size: 1.25rem;

  /* 사용자의 화면에 따라 달라질 배경색 */
  @media (min-width: 600px) {
    background: pink;
    font-size: 1.5rem;
  }
  @media (min-width: 1000px) {
    background: wheat;
    font-size: 2rem;
  }

  /* 가로 보기모드에서 적용될 테두리색 */
  @media (orientation: landscape) {
    h1 {
      border: 1px solid black;
    }
  }
}
